{% extends "main.html" %}

{% block title %}create{% endblock title %}

{% block body %}
<form action="" method="POST">
    {% csrf_token %}
    <div class="mb-3">
        <label for="exampleInputText" class="form-label">Title</label>
        <input type="text" name='title' value='{{task.title}}' class="form-control" id="exampleInputText" aria-describedby="textHelp">
        
    </div>
    <div class="mb-3">
        <label for="exampleInputText" class="form-label">Description</label>
        <input type="text" name='description' value='{{task.description}}' class="form-control" id="exampleInputText">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock body %}
